<!doctype html>
<html data-ng-app="cookieMonster" ng-csp="">
<head>
  <meta charset="utf-8" />
  <title>Cookie Monster</title>
  <link rel="stylesheet" href="css/angular-material.min.css">
  <link rel="stylesheet" href="css/angular-csp.css" type="text/css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="css/popup.css" type="text/css" />
</head>
<body data-ng-controller="popup">

<section id="top-toolbar" layout="row" layout-align="center center">
  <md-toolbar class="md-padding"><h5 ng-click="toggleView()">{{view.text}}</h5></md-toolbar>
</section>

<section ng-show="!view.status" data-ng-controller="report">
  <section>
    <md-subheader class="md-primary"><a href="reportcard.html" target="_blank">Overall Score</a></md-subheader>
    <md-divider></md-divider>
  </section>
  <section id="final-card" class="" layout="column" layout-align="center center">
    <md-progress-circular md-mode="determinate" value="0" md-diameter="100" color-code-confidence="{{reportCard.finalScore}}"></md-progress-circular>
    <h1 id="final-grade">{{reportCard.finalGrade}}</h1>
  </section>

  <section>
    <md-subheader class="md-primary"><a href="reportcard.html#trust-header" target="_blank">Trustworthiness</a></md-subheader>
    <md-divider></md-divider>
  </section>
  <section id="trust-card" class="" layout="column" layout-align="center center">
    <md-progress-circular md-mode="determinate" value="0" md-diameter="100" color-code-confidence="{{reportCard.trustScore}}"></md-progress-circular>
    <h1 id="trust-grade">{{reportCard.trustGrade}}</h1>
  </section>

  <section>
    <md-subheader class="md-primary"><a href="reportcard.html#child-header" target="_blank">Child Safety</a></md-subheader>
    <md-divider></md-divider>
  </section>
  <section id="child-card" class="" layout="column" layout-align="center center">
    <md-progress-circular md-mode="determinate" value="0" md-diameter="100" color-code-confidence="{{reportCard.childScore}}"></md-progress-circular>
    <h1 id="child-grade">{{reportCard.childGrade}}</h1>
  </section>

  <section>
    <md-subheader class="md-primary"><a href="reportcard.html" target="_blank">View Full Report</a></md-subheader>
    <md-divider></md-divider>
    <p>{{reportCard.count}} Sites in History</p>
  </section>
</section>

<section ng-show="view.status" data-ng-controller="cookie">
  <section class="md-padding" layout="row" layout-align="center center">
    <i id="power-button" ng-style="{ color : cookieColor }" ng-click="toggleCookieMonster()" class="fa fa-power-off"></i>
  </section>

  <section>
    <md-subheader class="md-primary">Cookies Eaten</md-subheader>
    <md-divider></md-divider>
  </section>
  <section id="cookieStats">
    <h1 id="percentage">{{eatenNow}} or {{percentage}}</h1>
    <h1 id="this-page">{{eatenNow}} on this page</h1>
    <h1 id="all-time"> {{eatenAll}} since install</h1>
  </section>

  <section ng-show="currentTab.length > 0">
    <md-subheader class="md-primary">For This Page</md-subheader>
    <md-divider></md-divider>
    <p>Click on a Domain Name to add or remove it from the Cookie Whitelist</p>
  </section>
  <section id="currentTab" class="md-padding" ng-show="currentTab.length > 0">
    <div data-ng-repeat="domain in currentTab" title="{{domain}}" class="cookie cookie-{{$index}}" ng-click="whitelistSite(domain)">
      <i ng-style="{color : domainColor(domain) }" class="fa fa-heart"></i>
      {{domain}}
    </div>
  </section>

  <section>
    <md-subheader class="md-primary"><a href="cookie.html" target="_blank">Edit Whitelist</a></md-subheader>
    <md-divider></md-divider>
    <p>{{whitelist.length}} Site(s) Whitelisted</p>
  </section>
</section>

<!-- load js at end -->
<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/angular-aria.min.js"></script>
<script src="js/angular-messages.min.js"></script>
<script src="js/angular-material.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
